nav {}
nav a {padding: 2px 10px; background: #00C; color: #fff; text-decoration: none; transition: background 0.3s ease; font-weight: normal;}
nav a:hover {padding: 2px 10px; background: #00F; color: #fff;}
nav a.current {background: #0C0; font-weight: bold;}
