<nav>
	<!-- routerLink: the "path" defined in the routing file -->
	<!-- routerLinkActive: the class applied when the url corresponds with the path -->
	<a routerLinkActive="nav_active" routerLink="welcome" >Welcome</a>
	<a routerLinkActive="nav_active" routerLink="user-data">User data</a>
	<a routerLinkActive="nav_active" routerLink="dance">Dance</a>
	<a routerLinkActive="nav_active" routerLink="child-routing">Child routing</a>
	<a routerLinkActive="nav_active" routerLink="about">About</a>
	<a *ngIf="!is_user_authorized()" routerLinkActive="nav_active" routerLink="login">Login</a>
	<a *ngIf="is_user_authorized()" routerLinkActive="nav_active" routerLink="login">Logout</a>
</nav>
