<h2>This is the application's welcome screen.</h2>

<ng-container *ngIf="show_lorem_ipsum">
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed pharetra nulla, et interdum nisl. Nulla tristique venenatis nulla, vitae finibus metus dapibus in. Sed a bibendum tortor. Mauris risus velit, viverra a rutrum id, faucibus sit amet neque. Ut consectetur consectetur commodo. Nullam consequat scelerisque mattis. Nam tincidunt lectus vitae bibendum luctus. Aliquam interdum in est et viverra.
</p>

<p>
Integer feugiat hendrerit turpis id lobortis. Nunc volutpat leo vitae tincidunt eleifend. Duis ac pharetra ligula. Nunc congue tortor urna, vitae scelerisque neque dignissim non. Cras condimentum orci nisl, vel tincidunt lectus mollis a. Aenean faucibus velit eget tincidunt laoreet. Etiam sodales condimentum arcu. Praesent fermentum lectus elit, id mattis lectus congue sit amet. Aliquam in malesuada massa. Phasellus vitae lacinia lacus. Praesent consequat commodo justo, ac ornare lectus faucibus id. 
</p>
</ng-container>

<!-- [V7] This does not work!!!! See welcome.component.ts file for details -->
<!--
<pre>This page has been visited {{vcs.get_visits()}} time(s)</pre>
-->
